.tripmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* align-items: center; */
  padding-top: 30px;
  justify-content: center;
  z-index: 99999999999;
  cursor: auto;
}

.trip-modal {
  background-color: #fff;
  /* max-width: 80%; */
  width: 85vw;
  height: 60vh;
  min-width: 30%;
  min-height: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

.trip-modal-title {
  display: flex;
}

.trip-modal-title p {
  flex-grow: 1;
  font-weight: 600;
}

.trip-modal-title div {
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.trip-modal-title div:hover {
  opacity: 0.7;
}

.important {
  color: red;
}

.trip-modal-body {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.city-input select {
  margin-top: 10px;
  padding: 10px 4px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(196, 194, 190);
}

.start-input input,
.end-input input {
  margin-top: 10px;
  padding: 10px 4px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(196, 194, 190);
  box-sizing: border-box;
}

.input-title {
  font-weight: 500;
}

.trip-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}

.trip-modal-footer button {
  padding: 5px 10px;
  border: 1px solid rgb(180, 180, 180);
  font-weight: 600;
  cursor: pointer;
}

.cancel {
  transition: background-color 0.5s linear;
  background-color: white;
}

.cancel:hover {
  background-color: #d8d8d8;
}

.save {
  background-color: #64b9ff;
  color: white;
  transition: background-color 0.5s linear;
}

.save:hover {
  background-color: #5092c8;
}

@media screen and (min-width: 1000px) {
  .trip-modal {
    width: 45vw;
    height: 60vh;
    gap: 40px;
  }
}
