.input-box:before {
  font-family: "FontAwesome";
  content: "\f002";
  position: relative;
  right: -5px;
  z-index: 1;
}

.input-box input {
  position: relative;
  right: 15px;
  padding: 6px 4px;
  background-color: rgb(237, 237, 237);
  border: none;
  padding-left: 25px;
  font-size: 1.2rem;
}

.input-box input:focus {
  outline: none;
}
