.loader-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.loader {
  width: 150px;
  height: 150px;
  animation: rotate 6.5s linear infinite;
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader img {
  width: 100%;
}
