.footer-title {
  margin-top: 2%;
  margin-bottom: 3%;
  font-weight: 600;
  font-size: 1.5rem;
}

.carousel-wrapper {
  /* display: flex;
  align-items: center; */
  max-width: calc(100vw - 70px);
  width: 100%;
  position: relative;
}

.weather {
  transition: width 0.3s linear;
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}

.weather.dragging {
  scroll-behavior: auto;
  cursor: grab;
  user-select: none;
}

.small {
  width: 55%;
  grid-auto-columns: calc((100% / 3) - 30px);
  grid-auto-columns: minmax(calc((100% / 3) - 30px), 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(calc((100% / 3) - 30px), 1fr)); */
}

.full {
  width: 100%;
  /* grid-auto-columns: calc((100% / 6) - 30px); */
  grid-template-columns: repeat(auto-fit, minmax(calc((100% / 6) - 30px), 1fr));
  grid-auto-columns: minmax(calc((100% / 6) - 30px), 1fr);
  /* grid-auto-flow: column; */
}

/* .flex-small {
  flex-basis: 25%;
}

.flex-full {
  flex-basis: 16%;
} */

.weather-card {
  /* scroll-snap-align: start; */
  /* flex-basis: 25%; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: flex-basis 0.3s linear;
}

.weather-card-icon {
  margin: 20px;
  width: 4rem;
  flex-grow: 1;
}

.weather-card-icon img {
  width: 100%;
}

.weather-card-temp {
  font-weight: 600;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
}

.arrow {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  z-index: 99999;
  transition: right 0.3s linear;
}

.left {
  left: -22px;
  display: none;
}

.right {
  right: -22px;
  display: block;
}

.arr-small {
  right: 45%;
}

@media screen and (max-width: 1200px) {
  .full {
    grid-auto-columns: calc((100% / 4) - 30px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 4) - 30px), 1fr)
    );
  }
  .small {
    grid-auto-columns: calc((100% / 2) - 30px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 2) - 30px), 1fr)
    );
  }
}

@media screen and (max-width: 900px) {
  .full {
    grid-auto-columns: calc((100% / 3) - 30px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 3) - 30px), 1fr)
    );
  }
  .small {
    grid-auto-columns: calc((100% / 1) - 30px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 1) - 30px), 1fr)
    );
  }
}

@media screen and (max-width: 600px) {
  .full {
    grid-auto-columns: calc((100% / 1) - 30px);
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 1) - 30px), 1fr)
    );
  }
}

@media screen and (max-width: 550px) {
  .weather-card-icon {
    margin: 10px;
    width: 2rem;
  }
}

@media screen and (max-height: 700px) {
  .weather-card-icon {
    margin: 5px;
    width: 2rem;
  }
}
